@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #f8fafb;
}

/* account header  */

.profile-header {
    background-image: linear-gradient(-45deg,#16bce5,#1496e1);
}
.block-profile-header {
    width: 1120px;
    height: 174px;
    margin: 0 auto;
    padding: 48px 24px;
}
.your-account-text {
    margin-bottom: 15px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.block-account {
    display: flex;
    justify-content: space-between;
}
.welcome-username {
    font-weight: 700;
    font-size: 29px;
    color: white;    

    vertical-align: baseline;
}
.account-buttons {
    display: flex;
    align-items: flex-end;    
}
.update-btn {
    color: wheat;
}
.logout-btn {
    color: wheat;
    margin-left: 25px;
}
.account-button-effect {
    transition: transform .3s linear;
}
.account-button-effect:hover {
    color: white;
    transform: scale(1.05);
}
/* account header  */


.wrap-purchase {
    margin-top: 40px;
}
.block-purchases {
    width: 1120px;
    margin: 0 auto;
}
.block-purchases__title {
    font-weight: 500;
    font-size: 23px;
    color: rgb(24, 67, 99);    
}
.wrapper-purchase {
    margin-top: 20px;
    border-radius: 6.4px;
    box-shadow: 0 0.5rem 1rem 0 rgb(24 67 99 / 10%), 0 1px 2px 0 rgb(24 67 99 / 10%);
    padding: 16px;
    background-color: white;
}

/* no-purchase  */
.box-purchase {
    border: 1px dashed rgb(223, 237, 247);
    border-radius: 6.4px;
    text-align: center;
    padding: 16px;
}
.no-purchase-title {
    font-weight: 500;
    font-size: 16px;
    color: rgb(23, 43, 58);    
}
.no-purchase-subtitle {
    margin-top: 7px;

    font-weight: 400;
    font-size: 14px;
    color: #56778f;    
}
/* no-purchase  */

/* box product in basket */
.wrap-product-box {
}
.wrap-product-box-header {
    display: flex;
}
.column-name {
    width: 50%;
    margin: 12px 0;
    margin-left: 24px;

    font-weight: 500;
    font-size: 14px;
    color: rgb(23, 43, 58);  
    text-transform: uppercase;
}
.box-product {
    display: flex;
    padding: 24px;
    border: 1px solid #dfedf7;
    border-radius: 5px;
}
.box-product:not(:first-child) {
    margin-top: 15px;
}
.product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-name {
    font-weight: 500;
    font-size: 16px;
    color: rgb(23, 43, 58);    
}
.product-amount {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(86, 119, 143);  
}
.product-manipulate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 48px;
}
.last-updated-date {
    font-weight: 400;
    font-size: 14px;
    color: rgb(86, 119, 143);   
}
.product-manipulate-buttons {
    display: flex;
}
.delete-btn {
    color: #128097;  
}
.delete-btn:hover {
    background-color: #ddf4ff;
}
.basket-buttons {
    display: block;
    padding: 16px;
    font-weight: 700;
    font-size: 13.2px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: transform .3s linear;
}
.basket-buttons:hover {
    transform: scale(1.05);
}
.checkout-btn {    
    color: rgb(24, 67, 99);    
    background-image: linear-gradient(-45deg,#f5b840,#f2971f);
    margin-left: 30px;
}
/* box product in basket */


/* delete popup */

button {
    border: none;
    background-color: inherit;
}

.toggleBtn {
    display: block !important;
}

.no-scroll {
    overflow-x: hidden;
}
    
.delete-form {
}
.delete-popup-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(235,245,248,.9);
    width: 100%;
    height: 100%;

    transition: display .3s linear;
}
.delete-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 196px;
    background-color: white;
    padding: 32px;
    border-radius: 4px;

    box-shadow: 0 .5rem 1rem 0 rgba(23,43,58,.1),0 1px 2px 0 rgba(23,43,58,.1);
    border-top: 5px solid #d76868;
}
.delete-popup__first {
    display: flex;
    justify-content: space-between;
}
.danger {
    display: flex;
    align-items: center;
}
.danger strong {
    color: #d76868;
    font-weight: 700;
    font-size: 16px;   
    
    margin-left: 8px;
}
#close-btn {
    cursor: pointer;
}
.delete-popup-second {
    margin-top: 18px;

    font-weight: 400;
    font-size: 14.22px;
    color: rgb(86, 119, 143);    
}
.delete-popop-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 19px;
}
.delete-cancel {
    color: rgb(18, 128, 151);
}
.delete-cancel:hover {
    background-color: #ddf4ff;
}
.danger-delete-btns {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12.64px;
    padding: 16px;  
    border-radius: 3px;
    letter-spacing: .7px;
    transition: all .3s linear;
}
.danger-delete-btns:hover{
    transform: scale(1.05);
}
.delete-confirm {
    margin-left: 10px;
    color: rgb(24, 67, 99);
    background-image: linear-gradient(-45deg,#f5b840,#f2971f) ;
}
/* delete popup */